@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500);

/*FONT SIZES
 * .sms-title
 * .sms-subtitle
 * .btn-saiba
 * body p
 * .section-title
 * .grey-text
 * .price-table .price-header
 * .price-table .price-price
 * .price-table .price-price:before
 * .price-table .price-body
 * .price-table .price-footer
*/

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto",sans-serif;
    font-weight: 100;
}

p {
    font-weight: 300;
}

.section-title {
    font-weight: 100;
}


@media only screen and (max-width: 767px) {

    .sms-title                          { font-size: 3.5rem; }
    .sms-subtitle                       { font-size: 2.3rem; }
    .btn-saiba                          { font-size: 2rem; }
    body p                              { font-size: 1.6rem; }
    .section-title                      { font-size: 3.5rem; }
    .grey-text                          { font-size: 13px; }
    .price-table .price-header          { font-size: 2.5rem; }
    .price-table .price-price           { font-size: 4rem; }
    .price-table .price-price:before    { font-size: 8rem; }
    .price-table .price-body            { font-size: 2rem; }
    .price-table .price-footer          { font-size: 2.5rem; }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .sms-title                          { font-size: 9rem; }
    .sms-subtitle                       { font-size: 2.8rem; }
    .btn-saiba                          { font-size: 2rem; }
    body p                              { font-size: 1.6rem; }
    .section-title                      { font-size: 5rem; }
    .grey-text                          { font-size: 13px; }
    .price-table .price-header          { font-size: 2.5rem; }
    .price-table .price-price           { font-size: 4rem; }
    .price-table .price-price:before    { font-size: 8rem; }
    .price-table .price-body            { font-size: 2rem; }
    .price-table .price-footer          { font-size: 2.5rem; }

}


@media only screen and (min-width: 993px) and (max-width: 1199px) {

    .sms-title                          { font-size: 10rem; }
    .sms-subtitle                       { font-size: 3rem; }
    .btn-saiba                          { font-size: 2rem; }
    body p                              { font-size: 1.6rem; }
    .section-title                      { font-size: 7rem; }
    .grey-text                          { font-size: 13px; }
    .price-table .price-header          { font-size: 2.5rem; }
    .price-table .price-price           { font-size: 4rem; }
    .price-table .price-price:before    { font-size: 8rem; }
    .price-table .price-body            { font-size: 2rem; }
    .price-table .price-footer          { font-size: 2.5rem; }

}

@media only screen and (min-width: 1200px) {

    .sms-title                          { font-size: 12rem; }
    .sms-subtitle                       { font-size: 4rem; }
    .btn-saiba                          { font-size: 2.3rem; }
    body p                              { font-size: 1.8rem; }
    .section-title                      { font-size: 8rem; }
    .grey-text                          { font-size: 13px; }
    .price-table .price-header          { font-size: 2.5rem; }
    .price-table .price-price           { font-size: 4rem; }
    .price-table .price-price:before    { font-size: 8rem; }
    .price-table .price-body            { font-size: 2rem; }
    .price-table .price-footer          { font-size: 2.5rem; }

}
/* END FONT SIZES */

/* ROWS PADDING AND POSITIONING */

#home {
    min-height: 400px;
    position: relative;
}

#home .container {
    position: static;
}

#home .row {
    position: absolute;
    top: 50%;
    left: 50%;
}

@media only screen and (max-width: 767px) {

    #about {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    #mensagem,
    #onde,
    #plano {
        padding-bottom: 70px;
    }

    #mensagem .section-title-padding,
    #onde .section-title-padding,
    #plano .section-title-padding {
        padding-top: 150px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    #about {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    #mensagem,
    #onde,
    #plano {
        padding-bottom: 70px;
    }

    #mensagem .section-title-padding,
    #onde .section-title-padding,
    #plano .section-title-padding {
        padding-top: 175px;
    }


}


@media only screen and (min-width: 993px) and (max-width: 1199px) {

    #about {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    #mensagem,
    #onde,
    #plano {
        padding-bottom: 80px;
    }

    #mensagem .section-title-padding,
    #onde .section-title-padding,
    #plano .section-title-padding {
        padding-top: 220px;
    }

}

@media only screen and (min-width: 1200px) {

    #about {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    #mensagem,
    #onde,
    #plano {
        padding-bottom: 80px;
    }

    #mensagem .section-title-padding,
    #onde .section-title-padding,
    #plano .section-title-padding {
        padding-top: 220px;
    }

}

/**/

[name="estados-brasil"] {
    margin: 10px 20px;
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.orange-bg {
    background-color: #f39c12;
    color: #fff;
}

.section-title {
    position: absolute;
    top: 50px;
    left: 5%;
}

.tk-fertigo-script {
    font-weight: 400;
}
.grey-text {
    font-weight: normal;
    color: #aaa;
}

.sms-title {
    color: #fff;
}

.sms-subtitle {
    color: #fff;
    font-weight: 100;
}

.btn-saiba {
    cursor: pointer;

    background-color: transparent;

    color: #fff;

    border: 1px solid white;

    padding: 10px 20px;

    display: inline-block;

    position: relative;
    -webkit-transition: all 300ms ease;-moz-transition: all 300ms ease;-ms-transition: all 300ms ease;-o-transition: all 300ms ease;transition: all 300ms ease;
}

.btn-saiba::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #fff;
    -webkit-transition: all 300ms ease;-moz-transition: all 300ms ease;-ms-transition: all 300ms ease;-o-transition: all 300ms ease;transition: all 300ms ease;
    z-index: 1;
}

.btn-saiba:hover::before {
    width: 100%;
}

.btn-saiba:hover {
    color: #f39c12;
    text-decoration: none;
}

.btn-saiba span {
    position: relative;
    z-index: 1;
}

.btn-saiba-i {
    color: rgb(51,51,51);
    border-color: rgb(51,51,51);
}

.btn-saiba-i::before {
    background-color: rgb(51,51,51);
}

.btn-saiba-i:hover {
    color: #fff;
}

button,
textarea {
    outline: none;
}

.stepcircle {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

    text-align: center;

    background-color: #fff;
    border-radius: 50%;
    color: #f39c12;

    margin-right: 3rem;

    display: inline-block;
}

.stepcircle.i {
    background-color: rgb(51,51,51);
    border-radius: 50%;
    color: #fff;
}

.title-hint {
    padding-top: 0; margin-top: 0; margin-bottom: 50px
}

ul.lista-estados {
    padding: 0;
    list-style: none;
}

@media only screen and (min-width: 768px){
    .xs-fr {
        float: right;
    }
}

textarea {
    resize: none;
    border: none;
    width: 50%;
    height: 200px;
    color: rgb(51,51,51);
    font-weight: 400;

    font-size: 18px;
}

@media only screen and (max-width: 767px) {
    textarea {
        width: 90%;
    }
}

footer {
    background-color: rgb(51,51,51);
    color: #777;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

footer a {
    color: #999;
}

footer a:hover {
    color: #999;
}

/* NAV */

nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    background-color: rgb(51,51,51);

    z-index: 1000;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;

    position: relative;
}

nav ul li {
    display: inline-block;
}

nav ul li span {
    cursor: pointer;

    display: inline-block;

    position: relative;
    padding: 2rem;
    z-index: 1002;

    color: #fff;

    -webkit-transition: all 300ms ease;-moz-transition: all 300ms ease;-ms-transition: all 300ms ease;-o-transition: all 300ms ease;transition: all 300ms ease;
}

nav ul li a:hover {
    color: #fff;

    text-decoration: none;
}

nav ul li.active span {
    color: rgb(51,51,51);
}

.m-nav-moving-bg {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1001;

    -webkit-transition: all 300ms ease;-moz-transition: all 300ms ease;-ms-transition: all 300ms ease;-o-transition: all 300ms ease;transition: all 300ms ease;
}

.nav-moving-bg {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1001;

    -webkit-transition: all 300ms ease;-moz-transition: all 300ms ease;-ms-transition: all 300ms ease;-o-transition: all 300ms ease;transition: all 300ms ease;
}

nav.visible-xs ul {
    font-size: 0;

    width: 100%;
}

nav.visible-xs ul li {
    font-size: 18px;

    display: inline-block;

    width: 20%;

    text-align: center;
}

/* END NAV */

.price-table {
    text-align: center;

    font-size: 0;
}

.price-item {
    width: 100%;
    max-width: 250px;
    display: inline-block;
    margin: 0 0 20px 0;
}

.price-table .price-header{
    background-color: #fff;
    color: #f39c12;

    padding: .5rem 0;
}

.price-table .price-price {
    border: 4px solid white;
    display: inline-block;

    border-radius: 50%;

    margin: 20px 0;
    padding: 42px 0;
    width: 149px;

    position: relative;
}

.price-table .price-price:before {
    content: "R$";
    position: absolute;

    z-index: 1;

    color: rgba(255,255,255, 0.3);

    top: 50%;
    transform: translateY(-50%);

    left: 0;

    width: 100%;
}

.price-table .price-price span {
    position: relative;
    z-index: 1;
}

.price-price-border {
 border-left: 2px solid #fff;
 border-right: 2px solid #fff;
}

.price-table .price-body {
    background-color: #fff;
    color: #f39c12;
}

.price-table .price-body ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.price-table .price-body ul li {
    padding: .7rem 0;
}

.price-table .price-footer {
    background-color: rgb(51,51,51);
    color: #fff;

    cursor: pointer;

    padding: 1rem 0;
}