<!DOCTYPE html>
<html ng-app="smsmarketing" lang="pt">
<head>
    <title>SMS Marketing</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body>

<nav class="visible-xs">
    <ul>
        <li class="m-nav-moving-bg"></li>
        <li class="navhome active" onclick="goToHome();"><span><i class="glyphicon glyphicon-home"></i></span></li>
        <li class="navsobre"       onclick="goToAbout();"><span><i class="glyphicon glyphicon-info-sign"></i></span></li>
        <li class="navmsg"         onclick="goToMensagem();"><span><i class="glyphicon glyphicon-comment"></i></span></li>
        <li class="navonde"        onclick="goToOnde();"><span><i class="glyphicon glyphicon-map-marker"></i></span></li>
        <li class="navplano"       onclick="goToPlano();"><span><i class="glyphicon glyphicon-ok-sign"></i></span></li>
    </ul>
</nav>

<nav class="hidden-xs">
    <ul>
        <li class="nav-moving-bg"></li>
        <li class="navhome active"  onclick="goToHome();"><span>Início</span></li>
        <li class="navsobre"        onclick="goToAbout();"><span>Sobre</span></li>
        <li class="navmsg"          onclick="goToMensagem();"><span>Mensagem</span></li>
        <li class="navonde"         onclick="goToOnde();"><span>Onde</span></li>
        <li class="navplano"        onclick="goToPlano();"><span>Plano</span></li>
    </ul>
</nav>

<div class="container-fluid" id="content">
    <div id="home" class="row orange-bg">
        <div class="container" style="height: 100%;">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="sms-title">
                        <span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">SMS</span><span style="font-weight: 100">MARKETING</span>
                    </p>
                    <p class="sms-subtitle">Divulgue de maneria rápida, fácil e eficiente.</p>
                    <br/>
                    <br/>
                    <button class="btn-saiba" onclick="goToAbout();"><span>Saiba Mais</span></button>
                </div>
            </div>
        </div>
    </div>

    <div id="about" class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3 style="font-weight: 400">O SMS Marketing</h3>
                    <p>
                        No Brasil o número de telefones celulares já ultrapassa a quantidade de habitantes no país. O sms tem uma taxa de leitura extremamente alta e é lido pouco tempo após ser recebido. É uma ferramenta de marketing poderosa que pode trazer resultados rápidos e até instantâneos, ajudando você a fechar vendas e a conseguir novos clientes. Nós oferecemos esse serviço de uma forma simples, rápida e fácil, basta seguir os nossos três passos:.
                    </p>
                    <ol>
                        <li><span style="font-weight: 400">Mensagem:</span> Escrever a mensagem que deseja enviar</li>
                        <li><span style="font-weight: 400">Onde:</span> Escolher as cidades para as quais deseja mandar o sms</li>
                        <li><span style="font-weight: 400">Plano:</span> Escolher o plano que melhor se encaixa em seu orçamento</li>
                    </ol>
                </div>
                <div class="col-xs-12 col-sm-6 text-center">
                    <h3 class="hidden-xs">&nbsp;</h3>
                    <p>

                    </p>
                    <button class="btn-saiba btn-saiba-i" onclick="goToMensagem();"><span>Ir para o primeiro passo</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row orange-bg" id="mensagem">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section-title-padding">
                    <div class="section-title">
                        <div class="stepcircle">1</div><span>MENSAGEM</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 class="title-hint">Escreva aqui a mensagem que deseja enviar por sms. (Até 160 caracteres)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <textarea maxlength="160" ng-model="message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center" style="padding-top: 50px">
                    <button class="btn-saiba" onclick="goToOnde();"><span>Próximo Passo</span></button>
                </div>
            </div>
        </div>
    </div>


    <div class="row" id="onde" ng-controller="StatesController">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section-title-padding">
                    <div class="section-title">
                        <div class="stepcircle i">2</div><span>ONDE</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 class="title-hint">Escolha para quais estados e cidades deseja mandar a mensagem.</h3>
                </div>
            </div>
            <div class="row row-estados-brasil">
                <div class="col-xs-12 text-center">
                    <select ng-model="stateList" onchange="createCitiesList(this);" ng-options="state as state.name for state in states" name="estados-brasil">
                        <option value="">Escolha um Estado</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button class="btn btn-default" onclick="addState(this);"><i class="glyphicon glyphicon-plus"></i> <span>Adicionar estado</span></button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center" style="padding-top: 50px">
                    <button class="btn-saiba btn-saiba-i" onclick="goToPlano();"><span>Próximo Passo</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row orange-bg" id="plano">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section-title-padding">
                    <div class="section-title">
                        <div class="stepcircle">3</div><span>PLANO</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 class="title-hint">Escolha o plano que deseja contratar.</h3>
                </div>
            </div>
            <div class="row">
                <div class="price-table">
                    <div class="col-xs-12 col-sm-4">
                        <div class="price-item">
                            <div class="price-header"><span>Básico</span></div>
                            <div class="price-price-border">
                                <div class="price-price"><span>250</span></div>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li>10.000 SMS</li>
                                    <li>Até 2 cidades</li>
                                </ul>
                            </div>
                            <div class="price-footer" data-toggle="modal" data-target="#confirmOrder" onclick="charQuantity(); chosenCities(); planBasic();">Contratar</div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="price-item">
                            <div class="price-header"><span>Intermediário</span></div>
                            <div class="price-price-border">
                                <div class="price-price"><span>400</span></div>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li>50.000 SMS</li>
                                    <li>Até 5 cidades</li>
                                </ul>
                            </div>
                            <div class="price-footer" data-toggle="modal" data-target="#confirmOrder" onclick="charQuantity(); chosenCities(); planInter();">Contratar</div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="price-item">
                            <div class="price-header"><span>Massivo</span></div>
                            <div class="price-price-border">
                                <div class="price-price"><span>750</span></div>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li>100.000 SMS</li>
                                    <li>Até 10 cidades</li>
                                </ul>
                            </div>
                            <div class="price-footer" data-toggle="modal" data-target="#confirmOrder" onclick="charQuantity(); chosenCities(); planMassive();">Contratar</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <footer class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    SMS Marketing &copy; 2014
                    <br/>
                    Site desenvolvido por <a href="http://heptagon.com.br">Heptagon TI Ltda.</a>
                </div>
                <div class="col-xs-12 col-sm-8">
                </div>
            </div>
        </div>
    </footer>

</div>

<div class="modal" id="confirmOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3  style="font-weight: 400" class="modal-title" id="myModalLabel">Confirmar compra</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 style="font-weight:  400">Mensagem:</h4>
                        "{{ message }}"
                        <br/>
                        <small><span>Quantidade de caracteres: </span><span id="charQuantity"></span></small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4 style="font-weight:  400">Cidades:</h4>
                        <div id="chosenCities"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4 style="font-weight:  400">Plano:</h4>
                        <div id="chosenPlan"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4 style="font-weight:  400">Total: <span id="totalPrice"></span></h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-warning" id="finishOrder">Comprar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/javascript.js"></script>

</body>
</html>